:root {
    --primary-color: #000000;
    --secondary-color: #553c4a;
    --neutral-color: #ff0000;
    --neutral-dark: #4a5397;
    --accent-color: #00fff2;
}

.container-fluid {
    background: linear-gradient( #df919e, #C76D7E);
    padding: 10px;
}

h1, h2{
    color: var(--primary-color);
}

h3 {
    color: var(--secondary-color);
}

p {
    color: var(--primary-color);

}
 
.circles {
    width: 100px;
    height: 100px;
    background-color: var(--accent-color);
    border-radius: 50%;
}

body {
    font-family: 'Arima' sans-serif;
    background: linear-gradient(to right, #f190a0, #c67281);
}

.navbar {
    background: linear-gradient(to right #ffff, #ffff);
    text-align: center;
    
    /* padding-left: 250px; */
    /* justify-content: center; */
    
}

.nav-item {
    padding: 10px 15px;
      border: none;
      cursor: pointer;
      transition: box-shadow 0.3s ease-in-out;
      
}

.nav-item:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.bg-image {
  /* The image used */
  background-image: url("../img/image.png");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-text {
    background-color: rgba(93, 51, 71, 0.5);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 38%;
  left: 75%;
  transform: translate(-50%, -50%);
  z-index: 2;
   width: 40%;
  padding: 20px;
  text-align: center;
} 

.bg-text h2 {
    color: rgb(255, 255, 255);
    font-size: clamp(1rem, 2vw, 2rem);
    
}

.logo {
    align-items: left;
}


.font {
  font-family: "Enriqueta", serif;
  font-weight: 500;
  font-style: normal;
}

.test{
    text-align: center;
    background-color: rgba(255, 255, 255, 0);

}
.test {
    text-align: center;
}
.checked {
  color: rgb(255, 208, 0);
  padding-top: 15px;
}
.card{
    width: auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgb(179, 122, 47);
    

  border: 3px solid #ffffff; 
  box-shadow: 0 0 10px rgba(148, 150, 26, 0.7); /* Horizontal offset, Vertical offset, Blur radius, Spread radius, Color with alpha */



}

button {
  font: inherit;
  background-color: #cbb26c;
  border: 0;
  color: #242424;
  border-radius: 0.5em;
  font-size: 1.35rem;
  padding: 0.375em 1em;
  font-weight: 600;
  text-shadow: 0 0.0625em 0 #fff;
  box-shadow: inset 0 0.0625em 0 0 #e0c9a0, 0 0.0625em 0 0 #e4b98b,
    0 0.125em 0 0 #e0c9a0, 0 0.25em 0 0 #e0c9a0, 0 0.3125em 0 0 #e0c9a0,
    0 0.375em 0 0 #e0c9a0, 0 0.425em 0 0 #e0c9a0, 0 0.425em 0.5em 0 #e0c9a0;
  transition: 0.15s ease;
  cursor: pointer;
}
.glow {
  /* font-size: 80px; */
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

/* @-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #8b8305, 0 0 40px #e9fa00, 0 0 50px #dbcf24, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
} */
 @-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #8b8305, 0 0 40px #e9fa00, 0 0 50px #dbcf24, 0 0 60px #f9d71c, 0 0 70px #f9d71c;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ffeb3b, 0 0 40px #f9e400, 0 0 50px #f9d71c, 0 0 60px #f9c80e, 0 0 70px #f9c80e, 0 0 80px #f9c80e;
  }
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  border-radius: 5px;
  /* background-color: #ffffff; */
  padding: 20px 0 30px 0;
} 

input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  /* border: 2px solid #ddd; */
  height: 175px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

.hide-md-lg {
  display: none;
}

.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  .vl {
    display: none;
  }
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}







