:root {
    --primary-color: #ff0000;
    --secondary-color: #ff0095;
    --neutral-color: #ff00b3;
    --neutral-dark: #4a5397;
    --accent-color: #d4f2e3;
}

.container {
    background-color: var(--neutral-color);
}

h1, h2{
    color: var(--primary-color);
}

h3 {
    color: var(--secondary-color);
}

p {
    color: var(--primary-color);
}
 
.circles {
    width: 100px;
    height: 100px;
    background-color: var(--accent-color);
    border-radius: 50%;
}

body {
    font-family: 'Arima' sans-serif;
    background: linear-gradient(to right, #d882d8, #dac5b6);
}

.navbar {
    background: linear-gradient(to right, #ce6d8c, #dfb9df);
    text-align: center;
    padding-left: 250px;
    justify-content: space-around;
}

.nav-item {
    padding: 10px 15px;
      border: none;
      cursor: pointer;
      transition: box-shadow 0.3s ease-in-out;
}

.nav-item:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* svg {
    color: var(--accent-color);
} */



img {
    float: right;
    align-items: right;
    flex-wrap: wrap;
}

.landing-image {
    background-image: url("../img/image.png");
}