:root {
    --primary-color: #000000;
    --secondary-color: #553c4a;
    --neutral-color: #ff0000;
    --neutral-dark: #4a5397;
    --accent-color: #00fff2;
}

.container-fluid {
    background-color: pink;
    padding: 10px;
}

h1, h2{
    color: var(--primary-color);
}

h3 {
    color: var(--secondary-color);
}

p {
    color: var(--primary-color);

}
 
.circles {
    width: 100px;
    height: 100px;
    background-color: var(--accent-color);
    border-radius: 50%;
}

body {
    font-family: 'Arima' sans-serif;
    background: linear-gradient(to right, #ffffff, #ffffff);
}

.navbar {
    background: linear-gradient(to right, #ffffff, #ffffff);
    text-align: center;
    
    /* padding-left: 250px; */
    /* justify-content: center; */
    
}

.nav-item {
    padding: 10px 15px;
      border: none;
      cursor: pointer;
      transition: box-shadow 0.3s ease-in-out;
}

.nav-item:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* svg {
    color: var(--accent-color);
} */



/* img {
    float: right;
    align-items: right;
    flex-wrap: wrap;
} */

.landing-image {
    background-image: url("../img/image.png");
    background-size: cover;
    border-radius: 25px;
}
.logo {
    align-items: left;
    
}


.font {
  font-family: "Enriqueta", serif;
  font-weight: 500;
  font-style: normal;
}

.test{
    text-align: center;
    background-color: rgb(239, 171, 249);

}